S3method("+",vRbalExpression)
export(any)
export(anyOf)
export(anything)
export(anythingBut)
export(br)
export(endofline)
export(find)
export(is.verEx)
export(linebreak)
export(maybe)
export(or)
export(range)
export(something)
export(somethingBut)
export(startofline)
export(tab)
export(then)
export(verEx)
export(word)
